name: RPM packages

on:
  workflow_dispatch:
  workflow_call:
  #pull_request:
  #push:
    #branches: [ master ]

jobs:
  get_version:
    name: Get version info
    runs-on: ubuntu-latest
    permissions:
      contents: read
    defaults:
      run:
        shell: bash
    outputs:
      version: ${{ steps.git_ver.outputs.version }}

    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - uses: actions/setup-python@v6
        with:
          python-version: '3.9'

      - name: Add python requirements
        run: |
          python -m pip install --upgrade pip

      - name: Get package version
        id: git_ver
        run: |
          python -m pip install --upgrade setuptools_scm
          version=$(python -m setuptools_scm | cut -d+ -f1)
          echo "Version from git: ${version}"
          echo "version=${version}" >> $GITHUB_OUTPUT

  build_rpms:
    name: ${{ matrix.name }}
    runs-on: ubuntu-latest
    permissions:
      contents: read
    needs: [get_version]

    strategy:
      fail-fast: false
      matrix:
        name: [
          centos9,
        ]

        include:
          - name: centos9
            dist: el9

    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Check version and update spec
        env:
          VERSION: ${{ needs.get_version.outputs.version }}
        run: |
          echo "Package version from git: ${VERSION}"
          sed -e s"|VER_GOES_HERE|${VERSION}|" packaging/el9/daemonizer.spec > daemonizer.spec

      - uses: cnangel/build-rpm-action@master
        id: rpm_build
        env:
          RPM_BUILD_OPTIONS: --nodebuginfo
        with:
          docker_image: "cnangel/${{ matrix.dist }}"
          before_build_hook: |
            spectool -g -R daemonizer.spec
            dnf config-manager --set-enabled crb
            yum -y builddep --spec daemonizer.spec
          rpmbuild_opts: -ba

      - name: Check package dirs
        run: |
          ls -R ${{ steps.rpm_build.outputs.rpm_dir_path }}
          ls -R ${{ steps.rpm_build.outputs.srpm_dir_path }}

      - name: Upload deb files
        uses: actions/upload-artifact@v5
        with:
          name: "python3-daemonizer-${{ needs.get_version.outputs.version }}.${{ matrix.dist }}-rpms"
          path: |
            ${{ steps.rpm_build.outputs.rpm_dir_path }}/*/*.rpm
            ${{ steps.rpm_build.outputs.srpm_dir_path }}/*.rpm
