name: Docs

on:
  workflow_dispatch:
  workflow_call:
  pull_request:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-22.04
    permissions:
      contents: write

    steps:
    - uses: actions/checkout@v6
      with:
        fetch-depth: 0

    - uses: actions/setup-python@v6
      with:
        python-version: '3.12'

    - name: Add python requirements
      run: |
        python -m pip install --upgrade pip
        pip install tox

    - name: Build docs
      run: |
        #tox -e ldocs
        tox -e docs

    - uses: actions/upload-artifact@v5
      with:
        name: ApiDocsHTML
        path: "docs/_build/html/"

    - name: set nojekyll for github
      run: |
        sudo touch docs/_build/html/.nojekyll

    - name: Deploy docs to gh-pages
      if: ${{ github.event_name == 'push' }}
      uses: JamesIves/github-pages-deploy-action@4a3abc783e1a24aeb44c16e869ad83caf6b4cc23  # v4.7.4
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        branch: gh-pages
        folder: docs/_build/html/
        single-commit: true
